header {
    text-align: center;
    text-justify: newspaper;

}

section {
    border-radius: 50px;
    background: coral;
    margin: auto;
    width: 250px;
    padding: 15px;
    height: 350px;
    text-align: center;
}

footer {
    text-align: center;
}
